* {
  margin:0;
  padding: 0;
}

div.nav-wrapper {
  background-color: white;
}

.brand-logo {
  position: relative;
  padding-right: 5px;
}

#logo {
  height: 30px;
}

nav ul a {
  color:black;
}

nav .brand-logo {
  padding: 3px 12px;
}

.containerOne {
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: bottom;
  height: 38em;
  color: white;
}

#signInBox {
  bottom:30%;
  box-sizing: content-box;
  margin-top: 10%;
  position: relative;
  background-color: #F7B617;
  padding: 1em 1em;
  width: 37%;
}

.signInForm {
  position: relative;
  padding-top: 20px;
}

.signInForm {
  position: relative;
  padding-top: 10px;
}

button {
  background-color: #F7B617;
  color: black;
  border:none;
  border-radius: 4px;
  padding: 10px;
  width: 100px;
  text-align: center;
  cursor:pointer;
}

button:hover {
  opacity: 0.8;
}

#registrate {
  background-color:white !important;
  padding: 5px;
  position: relative;
  margin-top: 7px;
  font-size: 12px;
  margin-bottom: 15px;
}

#conductor {
  background-color:white !important;
  padding: 7px 10px;
  position: relative;
  margin-top: 7px;
  font-size: 12px;
  white-space: nowrap;
  text-align: left;
  width:160px;
}

.textBoxHeader {
  line-height: 22px;
}

.text-header {
  font-size: 20px;
}

p {
  margin:0;
}

.containerTwo {
  background-color: #F7B617;
  margin-top: -2px;
  padding-bottom: 20px;
}

.infoRow {
  padding-top: 1%;
  padding-bottom: 5%;
}

section.containerTwo > div.row {
  margin-bottom: 0;
}

.contentSecond {

}

#phone {
  height: 239px;
}

#infoSection {
  box-sizing: content-box;
  margin-top: 5%;
  padding-left: 7%;
  border-width: 1px;
  border-color: white;
  color: white;
  margin-bottom: 29px;
/*  border-style: ridge; */
}

#phoneText {
  display: inline-block;
  color: white;
  position: relative;
  width: 52%;
  left: 22%;
}

.p2 {
  margin-bottom: 10px;
}

.infoContent {
  box-sizing: content-box;
  display: inline-block;
}

.containerThree {
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: bottom;
  height: 24em;
  color: white;
  margin-top: 0;
}

div.opaque {
  opacity: 0.8;
}

div.opaque p {

}

div button {
  background-color: #F7B617 !important;
  padding: 7px 10px;
  position: relative;
  margin-top: 7px;
  font-size: 12px;
  white-space: nowrap;
  text-align: left;
  width:160px;
}

.containerFour {
  background-color: #F7B617;
  color: white;
}

#maps {
  padding-top: 110px;
  margin-left: 72px;
  height: 508px;
}

.maps button {
  background-color: white !important;
  padding: 9px 10px;
  position: relative;
  margin-top: 7px;
  font-size: 14px;
  white-space: nowrap;
  text-align: left;
  width: 97px;
  color: black;
}

.mapsTextHeader {
  font-size: 21px;
}

.page-footer {
  background-color: #2B2B2B;
  color: white;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#stores {
  position: relative;
  float:left;
}
