* {
  margin-bottom: 0!important; 
}

/*Navbar*/

div.nav-wrapper {
  background-color: white;
  padding: 0%;
}

.brand-logo {
  position: relative;
  padding-right: 5px;
}

#logo {
  height: 30px;
}

nav ul a {
  color:black;
}

nav .brand-logo {
  padding: 3px 12px;
}

/*SignIn, LogIn*/

#loginSignup {
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: bottom;
  height: 38em;
  text-align: center;
}

#signInBox {
  background: rgba(255, 228, 47, 0.9);
  margin-top: 73px;
  padding: 1em 1em;
  padding-bottom: 33px;
  width: 17em;
}

#signInBoxContent {
  position: relative;
  left: 2px;
}

.contentHeader {
  font-size: 19px;
  font-family: monospace;
  font-weight: bold;
}

hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

button {
  background-color: white;
  border:none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 7px 8px;
  color: black;
  text-align: center;
  cursor:pointer;
  width: 191px;
  margin-top: 8px;

}

button {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color:#CCCCCC;

}

#register {
  margin-top: 19px;
}

/*Description*/

#infoSection {
  background: linear-gradient(to bottom left, #4c4c4c 0%, #bcbcb7 100%);
}

#phone {
  height: 280px;
  padding: 20px 30px;
}

#phoneText {
  padding-right: 41px;
}

/*Conductor*/

#conductor {
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: bottom;
  height: 320px;
}

#driverContent {
  background: rgba(255, 228, 47, 0.7);
  position: relative;
  left: 427px;
  margin-top: 16px;
  padding-bottom: 30px;
  padding-left: 25px;
  width: 18em;
}

/*Bills*/

#bills {
  background: linear-gradient(to bottom right, #4c4c4c 0%, #bcbcb7 100%);
  color: white;
  height: 19em;
}

#billButton {
  margin-top: 21px;
}

input {
  color:white;
}

/*More Info*/

#moreInfo {
background: linear-gradient(to top right, #4c4c4c 0%, #bcbcb7 100%);
padding-left: 5px;
}

#list {
  position: relative;
  right: 30px;
  padding: 4px 15px;
}

#leftList {
  position: relative;
  left: 45px;
}

#rightList {
  position: relative;
  right: 10px;
}

#stores {
  position: relative;
  margin-top: 48px;
}

.stores {
  width: 108px;
}

.ios {
  margin-top: 20px;
}

#map {
  width: 100%;
  height: 400px;
}

footer {
  background-color: black;
  color: white;
  font-size: 11px;
  height: 21px;
  padding-top: 3px;
  text-align: right;
}